{
  "parser"  : "babel-eslint",
  "extends" : [
    "standard",
    "standard-react"
  ],
  "plugins" : [
    "flow-vars"
  ],
  "env"     : {
    "browser" : true
  },
  "globals" : {
    "Action"       : false,
    "__DEV__"      : false,
    "__PROD__"     : false,
    "__DEBUG__"    : false,
    "__DEBUG_NEW_WINDOW__" : false,
    "__BASENAME__" : false
  },
  "rules": {
    "semi" : [2, "never"],
    "max-len": [2, 120, 2],
    "flow-vars/define-flow-type": 1,
    "flow-vars/use-flow-type": 1,
    "quotes": 0,
    "space-before-function-paren": 0,
    "jsx-quotes": 0,
    "react/jsx-indent-props": 0,
    "operator-linebreak": 0,
    "no-class-assign": 0,
    "react/jsx-indent": 0,
    "react/jsx-no-bind": 0,
    "no-multi-spaces": 0,
    "indent": 0,
    "key-spacing": 0,
    "comma-spacing": 0,
    'react/prop-types': 0,
    'no-unused-vars': 0,
    'space-infix-ops': 0
  }
}
