$calculator = {
  btn-in-row: 4
  btn-size: 5vw
  btn-min-size: 50px
}
$calculator.width = $calculator.btn-in-row * $calculator.btn-size
$calculator.min-width = $calculator.btn-in-row * $calculator.btn-min-size

.keyboardBtn
  width: $calculator.btn-size
  height: @width
  min-width: $calculator.btn-min-size
  min-height: @min-width
  border-radius 0
  

.display
  width: $calculator.width
  min-width: $calculator.min-width
  
  // increase specifity
  &&
    border-radius 0

  


