.wrapper
  display: flex
  height: 500px
  align-items: stretch

.InputWrap
  flex: 1
  position relative
  margin-right: 20px
  
.Input
  position: absolute
  left: 0
  right: 0
  bottom: 0
  top: 0
  resize none

.Output
  flex: 1
  border: 1px solid #666
  margin-left: 20px
  border-radius: 4px
  padding: 10px 20px