$simon = {
  size: 200px  

  sectors: {
    topRight: rgba(197, 175, 164, 1),
    bottomRight: rgba(207, 77, 111, 1),
    bottomLeft: rgba(3, 181, 170, 1),
    topLeft: rgba(219, 254, 135, 1)
  }
}

.sectorsBoard
  width: $simon.size
  height: $simon.size
  display: flex
  flex-wrap: wrap

.sector
  flex-basis: 50%
  height @width
  border: 1px solid #666
  transition: background-color .2s
  
  &:active
    transform: translateY(2px)

  for k,v in $simon.sectors
    &-{k}
      background-color: v
      
    &-{k}Active
      background-color: alpha(v, 25%)
        

.translator
  position relative
  display inline-block
  
.translatorRefresh
  position absolute 
  bottom 0 
  left calc(100% \+ 15px)
